.main-wrapper {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}


.task-wrapper {
  width: 270px;
  overflow: auto;
  border-left: 1px solid #f8f9fa;
  box-shadow: 5px 0px 5px 4px gray;
}

.task-list > li:hover{
  background-color: #f8f9fa;
}

.task-list > li {
  padding: 20px;
  display: flex;
}

.task-list > li > textarea {
  display: none;
}

.task-list > li > input {
  border: 0px;
}

.task-list > li > input :focus {
  outline: none;
}