.task-wrapper {
  width: 270px;
  overflow: auto;
  border-left: 1px solid #f8f9fa;
  box-shadow: 5px 0px 5px 4px gray;
}

.task-list {

  li {
    padding: 5px 0px;

    &:hover {
      background-color: #f8f9fa;    
      .task-option-button {
        visibility: visible;
      }
    }
    
    .task-done-button {
      padding: 0px 15px;
      border: none;
      background: inherit;
      cursor: pointer;
    }

    .task-title {
      border: none;
      background: inherit;

      &:focus {
        outline: none;
        .task-deadline {
          display: block;
        }
      }
    }

    .task-option-button {
      visibility: hidden;
      border: none;
      background: inherit;
      cursor: pointer;
    }

    .task-detail {
      display: none;
      border: none;
      background: inherit;
      resize: none;
      height: 15px;
    }

    .task-deadline {
      display: none;
    }
  }
}