.task-wrapper {
  width: 270px;
  overflow: auto;
  border-left: 1px solid #f8f9fa;
  box-shadow: 5px 0px 5px 4px gray;
}

.task-list {

  li {
    padding: 20px;
    display: flex;

    &:hover {
      background-color: #f8f9fa;    
      .task-option-button {
        display: block;
      }
    }

    .task-detail {
      display: none;
    }

    .task-title {
      border: 0px;

      &:focus {
        outline: none;
      }
    }

    .task-deadline {
      display: none;
    }

    .task-option-button {
      display: none;
    }
  }
}
